.title {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.author {
  font-weight: 700;
  display: inline-flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 5px;
}

.body {
  width: 80%;
  text-align: left;
}

.time {
  align-items: center;
  gap: 5px;
  margin: 5px;
}
